Workflow_Assistant/Workflow_assistant.json
{
  "name": "Agent_IA_Météo_v5",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        176,
        144
      ],
      "id": "393b3f59-7de3-450e-985f-fc14758ee68f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "url": "http://api.weatherapi.com/v1/current.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "98adae444b4947a3a4e91950250905"
            },
            {
              "name": "q",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"
            },
            {
              "name": "aqi",
              "value": "no"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -16,
        144
      ],
      "id": "bc81ea87-7e88-41f8-9bdd-5a233064461f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b8b6679e-b0c1-475c-a135-1ee26aba0b8c",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -624,
        -96
      ],
      "id": "cd0eaa0f-5d68-41ef-9fda-c6d7dc0613ec",
      "name": "Webhook",
      "webhookId": "b8b6679e-b0c1-475c-a135-1ee26aba0b8c"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc",
          "mode": "list",
          "cachedResultName": "Observation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -496,
        144
      ],
      "id": "5a09059d-4272-4137-9f5d-835b972584ba",
      "name": "Get_row ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "31LaukvmbfzpoFVr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc",
          "mode": "list",
          "cachedResultName": "Observation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Feuille 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/138McEye87dtczioB03L4CkoxVqi5q9uo_A4170HPpXc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', `Le champ Date correspond à la valeur de localtime, par exemple \"localtime\": \"2025-08-21 13:57\" la date est 21/08/2025`, 'string') }}",
            "Lieu": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Lieu', ``, 'string') }}",
            "Température": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Temp_rature', `Le champ Température correspond à la valeur de temp_c, par exemple \"temp_c\": 19.3 signifie une Température de 19.3°C`, 'string') }}",
            "Ciel ": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ciel_', `correspond à la valeur de cloud, par exemple \"cloud\": 75 signifie un ciel couvert à 75%`, 'string') }}",
            "UV": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('UV', `il s'agit ici de l'indice UV`, 'string') }}",
            "Humidité_relative": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Humidit__relative', `correspond à la valeur de humidity, par exemple \"humidity\": 52 signifie une Humidité_relative de 52%`, 'string') }}",
            "Pression": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Pression', `correspond à la valeur de pressure_mb, par exemple\"pressure_mb\": 1018.0 signifie une pression de 1018.0 hPa`, 'string') }}",
            "Vent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Vent', `correspond à la valeur de wind_kph, il est exprimé en km/h`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lieu",
              "displayName": "Lieu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Température",
              "displayName": "Température",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "UV",
              "displayName": "UV",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Humidité_relative",
              "displayName": "Humidité_relative",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Pression",
              "displayName": "Pression",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Ciel ",
              "displayName": "Ciel ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Vent",
              "displayName": "Vent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -320,
        144
      ],
      "id": "bde8371a-8fda-462e-958e-fef7a70b5080",
      "name": "Append_row ",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "31LaukvmbfzpoFVr",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        -176,
        144
      ],
      "id": "ec615e21-4156-42bc-8f7b-013175f7e5a5",
      "name": "Envoyer_un_Mail",
      "webhookId": "c794cad6-1655-48f2-9282-cefdc2cf1d4d",
      "credentials": {
        "gmailOAuth2": {
          "id": "1p5L8t0Ti7Odu8ke",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// n8n Code node (JavaScript)\nreturn [\n  {\n    json: {\n      reply: $json.output   // remplace \"output\" par \"reply\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        -96
      ],
      "id": "e36e1505-f9bc-418c-bca2-7bc57bccd20c",
      "name": "Parsing"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "17af8385-857f-439a-aebf-b051f82a6873",
              "name": "body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "be5af627-8ac2-4304-a510-0282b4276c49",
              "name": "body.message",
              "value": "={{ $json.body.message }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -416,
        -96
      ],
      "id": "be35c4bb-369d-4f5b-b405-501712f2cca4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_vN0AVv93x9prbDS7uc0z54k5",
          "mode": "list",
          "cachedResultName": "Calcul_humidex_windchill"
        },
        "prompt": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -208,
        -96
      ],
      "id": "ac2acf67-ec69-450b-acc7-371606b0ce2a",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "NoZ9aJ2jaS1NHCrC",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Message a model",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_row ": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Append_row ": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Envoyer_un_Mail": {
      "ai_tool": [
        [
          {
            "node": "Message a model",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsing": {
      "main": [
        []
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parsing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e568e35-12ee-4ae4-80ca-0c19ccf558c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "779524e63dbde32a73cbf739cde16780b056dc31072ff92c4fdba4f2d62e9ee8"
  },
  "id": "CiziiHrlFcqJep9h",
  "tags": []
}